ul {
    color: red;
    font-size: 26pt;
}

h1, h2 {
    color: white;
    font-size: 32pt;
}

p {
    color: black;
    font-size: 18pt;
}

body {
    background-image: url("/images/background.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;


  }